# Dependency directories
node_modules/

# Environment variables file
.env

# Optional npm debugging log file
npm-debug.log

# MacOS directory attributes
.DS_Store

# Editor/IDE specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
